- content_for :head do
  = javascript_include_tag("main.js")
  = javascript_include_tag("modeling.js")

%h1 Descend

%span Max data points:&nbsp;
%input{id: "var_maxN", type: "text", value: "25"}
%div{id: "theGraph", style: "width:600px;height:300px" }
%div{id: "buttons"}
  %span{id: "btn_clear"}= link_to("Clear", "#")
  |
  %span{id: "btn_descend", value: "off"}= link_to("Descend", "#")