- content_for :head do
  = javascript_include_tag("main.js")
  = javascript_include_tag("modeling.js")

%h1 Descend

%span Max data points:&nbsp;
%input#var_maxN{type: "text", value: "25"}
#theGraph{style: "width:600px;height:300px" }
#buttons
  %span.button#btn_clear Clear
  |
  %span.button#btn_descend{value: "off"} Descend

:css
  .button{cursor: pointer}
  