%h1 Descend

%div{id: "theGraph", style: "width:600px;height:300px" }

:javascript
  function plotIt(data) {
    $.plot("#theGraph", [data],
      {
        series: {points: {show: true}},
        grid: {clickable: true}
      }
    );      
  }

  $(document).ready( function() {
    var data = []
    var N = 5
    for (var ii = 0; ii <= N; ii++) {
      x = Math.random();
      y = 2*x + Math.random() * 0.5;
      data.push([x,y])
    }
    plotIt(data);

    $("#theGraph").bind("plotclick", function(event, pos, item){
      x = pos.x; y = pos.y;
      data.push([pos.x, pos.y]);
      plotIt(data);

    });

  } );
