- content_for :head do
  = javascript_include_tag("main.js")
  = javascript_include_tag("modeling.js")
  = javascript_include_tag("xy_helper.js")

%h1 Descend

%span Max data points:&nbsp;
%input#var_maxN{type: "text", value: "25"}
#theGraph{style: "width:600px;height:300px" }
#buttons
  %span.button#btn_clear Clear
  |
  %span.button#btn_descend{value: "off"} Descend  
%div#hud{style: "width:600px;height:300px"}
  %div#costPlot0{style: "width:200px;height:200px;background-color:black"}

:css
  .button{cursor: pointer}
