%h1 Descend

%div{id: "theGraph", style: "width:600px;height:300px" }

:javascript
  var plot = null

  function plotIt(xyData) {
    plot = $.plot("#theGraph",
      [{
        data: xyData,
        points: {show: true}
      }],
      {
        grid: {clickable: true},
        xaxis: {min: 0, max: 1},
        yaxis: {min: 0, max: 1}
      }
    );      
  }

  function updateFit(xyData) {
    coefs = computeFit(xyData);
    plotFit(coefs);
  }

  function computeFit(xyData) {
    xPoints = xyData.map(function(xy){return xy[0]});
    yPoints = xyData.map(function(xy){return xy[1]});
    xData = nlFeatures(xPoints);
    yData = math.matrix([yPoints]).transpose();
    coefs = llmse(xData, yData);
    return coefs;    
  }

  function plotFit(coefs) {
    xVals = [plot.getAxes().xaxis.min, xMax = plot.getAxes().xaxis.max];
    fMatrix = nlFeatures(xVals);
    pMatrix = math.multiply(fMatrix, coefs);
    yVals = pMatrix.transpose()._data[0];

    fitData = math.matrix([xVals, yVals]).transpose()._data;

    plot = $.plot("#theGraph",
      [
        {
          data: xyData,
          points: {show: true},
        },
        {
          data: fitData,
          lines: {show: true},
          color: "red"
        }
      ],
      {
        grid: {clickable: true},
        xaxis: {min: 0, max: 1},
        yaxis: {min: 0, max: 1}
      }
    );

  }

  $(document).ready( function() {
    xyData = []
    var N = 5
    for (var ii = 0; ii <= N; ii++) {
      x = Math.random();
      y = 0.3*x + Math.random() * 0.5;
      xyData.push([x,y])
    }
    plotIt(xyData);

    $("#theGraph").bind("plotclick", function(event, pos, item){
      x = pos.x; y = pos.y;
      xyData.push([pos.x, pos.y]);
      while (xyData.length > 10) {xyData.shift()}
      plotIt(xyData);
      updateFit(xyData);
    });

  } );
