%h1 Descend

%span Max data points:&nbsp;
%input{id: "var_maxN", type: "text", value: "25"}
%div{id: "theGraph", style: "width:600px;height:300px" }
%p{id: "btn_clear"}= link_to("Clear", "#")

:javascript
  $("#btn_clear").click(clearData);
  function clearData() {
    xyData = [];
    updateFit(xyData);
  }

  var plot = null;

  function plotIt(xyData) {
    plot = $.plot("#theGraph",
      [{
        data: xyData,
        points: {show: true}
      }],
      {
        grid: {clickable: true},
        xaxis: {min: 0, max: 1},
        yaxis: {min: 0, max: 1}
      }
    );      
  }

  function updateFit(xyData) {
    if (xyData.length > 0) {
      coefs = computeFit(xyData);
      plotFit(coefs);
    } else {
      plotIt([]);
    }
  }

  function computeFit(xyData) {
    if (xyData.length == 0) return null;
    xPoints = xyData.map(function(xy){return xy[0]});
    yPoints = xyData.map(function(xy){return xy[1]});
    xData = nlFeatures(xPoints);
    yData = math.matrix([yPoints]).transpose();
    coefs = llmse(xData, yData);
    return coefs;    
  }

  function plotFit(coefs) {
    var xMin = plot.getAxes().xaxis.min;
    var xMax = plot.getAxes().xaxis.max;
    var xStep = (xMax - xMin) / 50
    var xVals = math.range(xMin, xMax + xStep, xStep)._data
    var fMatrix = nlFeatures(xVals);
    var pMatrix = math.multiply(fMatrix, coefs);
    var yVals = pMatrix.transpose()._data[0];
    var fitData = math.matrix([xVals, yVals]).transpose()._data;

    plot = $.plot("#theGraph",
      [
        {
          data: xyData,
          points: {show: true},
        },
        {
          data: fitData,
          lines: {show: true},
          color: "red"
        }
      ],
      {
        grid: {clickable: true},
        xaxis: {min: 0, max: 1},
        yaxis: {min: 0, max: 1}
      }
    );

  }

  $(document).ready( function() {
    xyData = []
    // var N = 5
    // for (var ii = 0; ii <= N; ii++) {
    //   x = Math.random();
    //   y = 0.3*x + Math.random() * 0.5;
    //   xyData.push([x,y])
    // }
    plotIt(xyData);

    $("#theGraph").bind("plotclick", function(event, pos, item){
      x = pos.x; y = pos.y;
      xyData.push([pos.x, pos.y]);
      while (xyData.length > Number($("#var_maxN").val())) {xyData.shift()}
      plotIt(xyData);
      updateFit(xyData);
    });

  } );
