- content_for :head do
  = javascript_include_tag("main.js")
  = javascript_include_tag("modeling.js")

%h1 Descend

%span Max data points:&nbsp;
%input#var_maxN{type: "text", value: "25"}
#theGraph{style: "width:600px;height:300px" }
#buttons
  %span.button#btn_clear Clear
  |
  %span.button#btn_descend{value: "off"} Descend  
%div#hud{style: "width:600px;height:300px"}
  %div#costPlot0{style: "width:200px;height:200px;background-color:black"}

:css
  .button{cursor: pointer}

:javascript
  var hud0 = function(){
    // Create and populate a data table.
    var data = new vis.DataSet();
    // create some nice looking data with sin/cos
    var counter = 0;
    var steps = 50;  // number of datapoints will be steps*steps
    var axisMax = 314;
    var axisStep = axisMax / steps;
    for (var x = 0; x < axisMax; x+=axisStep) {
        for (var y = 0; y < axisMax; y+=axisStep) {
            var value = (Math.sin(x/50) * Math.cos(y/20) * 50 + 50);
            data.add({id:counter++,x:x,y:y,z:value,style:value});
        }
    }

    // specify options
    var options = {
        width:  '500px',
        height: '552px',
        style: 'surface',
        showPerspective: true,
        showGrid: true,
        showShadow: false,
        keepAspectRatio: true,
        verticalRatio: 0.5
    };

    // Instantiate our graph object.
    var container = $("#costPlot0")[0]
    var graph3d = new vis.Graph3d(container, data, options);
  }();
